@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

* {
    font-family: 'Roboto' sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body,
html {
    color: #fff;
    background: #000;
    ;
}

a,
a:hover,
a:visited {
    font-style: none;
    color: unset;
}

.ds-logo-container {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.ds-logo-container img {
    width: 235px;
    height: 106.07;
}

header {
    height: 220px;
    background: linear-gradient(180deg, #102347 0%, #181818 100%);
    display: flex;
    align-items: center;
    justify-content: center;
}

.ds-logo-container h1 {
    margin-top: 14.73px;
    font-size: 24px;
}

.ds-logo-container p {
    font-size: 14px;
    font-weight: 300;
}

.dsmeta-card {
    background: #283142;
    border-radius: 10px;
    padding: 30px 10px;
}

.dsmeta-container {
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
}

#sales {
    padding: 40px 10px;
}

.dsmeta-sales-title {
    color: #676FFF;
    font-size: 24px;
    margin-bottom: 24px;
}

.dsmeta-form-control {
    border: #384459 1px solid;
    height: 46px;
    width: 100%;
    border-radius: 5px;
    background: #1B2531;
    color: #9AAABE;
    padding: 0 20px;
    font-size: 28px;
}

.dsmeta-form-control-container {
    margin-bottom: 16px;
    max-width: 300px;
}

.dsmeta-sales-table {
    width: 100%;
    border-spacing: 0;
    border-collapse: collapse;
}

.dsmeta-sales-table thead {
    height: 55px;
    font-size: 16px;
    color: #E9E9E9;
    font-weight: 700;
}

.dsmeta-sales-table tbody {
    font-size: 14px;
    font-weight: 400;
    color: #CFCFCF;
    text-align: center;
}

.dsmeta-sales-table tbody tr {
    height: 74px;
    border-top: 1px solid #5F6E82;
}

.dsmeta-sales-table tbody tr:hover>td {
    background-color: #384459;
}

.dsmeta-sales-table tbody tr:nth-child(odd) {
    background-color: #242C3B;
}
.dsmeta-btn-container{
    display: flex;
    justify-content: center;
}

.dsmeta-red-btn {
    height: 45px;
    width: 45px;
    background: rgba(255, 107, 114, 0.1);
    border: 1px solid #FF6B72;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.dsmeta-red-btn img{
    width: 19px;
}
.show-576{
    display: none;
}
@media(min-width: 576px){
    .show-576{
        display: table-cell;
    }
    .dsmeta-card{
        padding: 35px;
    }
    .dsmeta-sales-table tbody tr{
        height: 62px;
    }
    .dsmeta-sales-table tbody{
        font-size: 18px;
    }
}
.show-992{
    display: none;
}
@media(min-width: 992px){
    .show-992{
        display: table-cell;
    }
    .dsmeta-card{
        padding: 35px;
    }
    .dsmeta-sales-table tbody tr{
        height: 62px;
    }
    .dsmeta-sales-table tbody{
        font-size: 18px;
    }
}
